{% extends 'base.html' %}
{% block title %} About Us - Rowley Company {% endblock %}
{% block head %}
  {{super()}}
  <link rel="stylesheet" href="/static/css/about.css">
  <title> About Us - Rowley Company </title>   
{% endblock %}
{% block content %}
    <div class="about">
        <div class="history">
            <h2>Our History</h2>
            <p>Rowley Company is a real estate management company with our head office in Murang'a, Kenya...
            </p>
        </div>
        <div class="core-values">
            <h2>Core Values</h2>
            <ul>
                <li>Integrity</li>
                <li>Respect for all our clients</li>
                <li>Innovation</li>
                <li>Customer focus</li>
                <li>Collaboration</li>
            </ul>
        </div>
        <div class="mission">
            <h2>Our Mission</h2>
            <p>We focus on managing, protecting, and maximizing the potential of property assets. Our mission is to bring property and infrastructure management into the 21st Century by aligning the interests of the tenant and client through service and asset protection as well as ensuring the maximisation of the asset value.</p>
        </div>
        <div class="vision">
            <h2>Our Vision</h2>
            <p>To be the premier organization for the delivery of all aspects of property and asset management across Kenya, helping developers, investors, housing associations and local authorities to create aspirational and sustainable developments and communities, working in partnership with all stakeholders including tenants and residents.</p>
        </div>
    </div>
    <div class="footer">
        <div class="contact-us">
            <p>Contact us:</p>
            <p>Phone: +254783756937</p>
            <p>Email: waiyegondungu@gmail.com</p>
            <p>Location: Pacan Suites opposite Murang'a Creameries</p>
            <p>Postal Address: 68 Kangema</p>
        </div>
        <div class="welcome">
            <h2>Welcome to Rowley Company - Your Trusted Partner in Real Estate Management</h2>
        </div>
    </div>
{% endblock %}
