{% extends 'base.html' %}
{% block title %} Agent Dashboard - Rowley Company {% endblock %}
{% block head %}
  {{super()}}
  <link rel="stylesheet" href="/static/css/agentDashboard.css">
  <title> Agent Dashboard - Rowley Company </title>   
{% endblock %}
{% block content %}
<section class="dashboard-section">
  <div id="upper-part">
    <div class="welcome-note">
        <p>Welcome to Rowley Company - Your Trusted Partner in Real Estate Management</p>
        <a  href="{{url_for('main.landingpage')}}"> Rowley Company Overview </a>
    </div>
  </div>
  <div class="middle-part">
    <div id="booking-details-section" style="display: none;">
      <h2> Booking Details </h2>
      <form id="booking-details-form">
        <div class="booking-field">
          <label for="booking-username"> Username </label>
          <input type="text" id="booking-username" name="booking-username" readonly>
        </div>
        <div class="booking-field">
          <label for="booking-email"> Email </label>
          <input type="email" id="booking-email" name="booking-email" readonly>
        </div>
        <div class="booking-field">
          <label for="booking-telephone"> Telephone </label>
          <input type="tel" id="booking-telephone" name="booking-telephone" readonly>
        </div>
        <div class="booking-field">
          <label for="booking-property_type"> Property Type </label>
          <input type="text" id="booking-property_type" name="booking-property_type" readonly>
        </div>
        <div class="booking-field">
          <label for="booking-hours"> Booking Hours </label>
          <input type="text" id="booking-hours" name="booking-hours" readonly>
        </div>
        <div class="booking-field">
          <label for="booking-date"> Date </label>
          <input type="date" id="booking-date" name="booking-date" readonly>
        </div>
        <button type="button" onclick="hideBookingDetails()"> Close </button>
      </form>
    </div>
    <div class="data">
      <div class="booking">
        <h2> Bookings </h2>
        {% for booking in bookings %}
          <div class="booking-details">
            {% if booking.status == 'Pending' %}
              <p> {{ booking.username }} - {{ booking.date.strftime('%d/%m/%Y') }} </p>
              <div class="booking-action">
                <form action="{{ url_for('agent.accept_booking', booking_id=booking.id) }}" method="post">
                  <button type="submit"> Accept Booking</button>
                </form>
              </div>
            {% endif %}
            {% if booking.status == 'Accepted' %}
              <p> {{ booking.username }} - {{ booking.date.strftime('%d/%m/%Y') }} </p>
              <div class="booking-action">
                <form action="{{ url_for('agent.assign_agent', booking_id=booking.id, agent_id=current_user.id) }}" method="post">
                  <button type="submit"> Assign </button>
                </form>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="reports-part">
        <h1> Reports </h1>
        <div class="report-div">
          <button class="report-data" onclick="generateReport('{{ url_for('reports.clients_report') }}', 'clients')">
             Clients Report <i class="fas fa-chart-bar"></i>
          </button>
        </div> 
        <div class="report-div">
          <button class="report-data" onclick="generateReport('{{ url_for('reports.booking_report') }}', 'bookings')">
            Booking Report <i class="fas fa-chart-line"></i>
          </button>
        </div>
        <div class="report-div">
          <button class="report-data" onclick="generateReport('{{ url_for('reports.payment_report') }}', 'payments')">
            Payment Report <i class="fas fa-file-invoice-dollar"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="booking">
      <h2> My Appointments </h2>
      {% for booking in bookings %}
        <div class="booking-details">
            {% if booking.status == 'Assigned' and booking.agent_id == current_user.id %}
              <p> {{ booking.username }} - {{ booking.date.strftime('%d/%m/%Y') }} </p>
              <div class="booking-action">
                <button type="button" onclick="viewBookingDetails('{{ booking.username }}', '{{ booking.email }}', 
                  '{{ booking.telephone }}', '{{ booking.property_type }}', '{{ booking.booking_hours }}', 
                  '{{ booking.date.strftime('%Y-%m-%d') }}')"> View Details </button>
              </div>
            {% endif %}
        </div>
      {% endfor %}
    </div>    
    <div class="form-part">                
        <div class="form-card">
            <h2><strong> Profile </strong></h2>
            <p> To manage you account information <i class="fas fa-user-cog"></i> </p>
            <form action="{{ url_for('main.profile') }}">
                <button type="submit"> Go to Profile </button>
            </form>
        </div>
        <div class="form-card">
            <h2><strong> Booking </strong></h2>
            <p> Secure a property booking <i class="fas fa-calendar-check"></i></p>
            <form action="{{ url_for('main.booking') }}">
                <button type="submit"> Book now </button>
            </form>
        </div>   
    </div>
  </div>
<section>
<script>
  function viewBookingDetails(username, email, telephone, property_type, booking_hours, date) {
    // Populate the form fields with booking details
    document.getElementById('booking-username').value = username;
    document.getElementById('booking-email').value = email;
    document.getElementById('booking-telephone').value = telephone;
    document.getElementById('booking-property_type').value = property_type;
    document.getElementById('booking-hours').value = booking_hours;
    document.getElementById('booking-date').value = date;

    // Show the booking details section
    document.getElementById('booking-details-section').style.display = 'block';
  }

  function hideBookingDetails() {
    // Hide the booking details section
    document.getElementById('booking-details-section').style.display = 'none';
  }
  function generateReport(reportUrl, reportType) {
    // Open a new tab
    var reportWindow = window.open('', '_blank');
    // Make an AJAX request to fetch the report data
    fetch(reportUrl)
        .then(response => response.json())
        .then(data => {
            console.log(data); // Log the data received from the server

            // Dynamically create an HTML table with the report data
            var table = '<table class="report-table">';
            table += '<tr>';
            // Define headers based on report type
            var headers = [];
            if (reportType === 'clients') {
                headers = ['Surname', 'First_name', 'Second_name', 'Telephone', 'Email'];
            } else if (reportType === 'bookings') {
                headers = ['Username', 'Email', 'Telephone', 'Property_type', 'Booking_hours', 'Date'];
            } else if (reportType === 'payments') {
                headers = ['Full_name', 'Id_number', 'Service_type', 'Mpesa_number'];
            }

            headers.forEach(header => {
                table += `<th class="table-header">${header}</th>`;
            });
            table += '</tr>';
            // Populate table rows with data
            data.forEach((item, index) => {
                table += `<tr class="table-row">`;
                // Ensure the data is placed in the correct columns
                headers.forEach(header => {
                    table += `<td class="table-data">${item[header]}</td>`;
                });
                table += '</tr>'; // Move this line inside the forEach loop
            });
            table += '</table>';
            // Create a container for the table and download button
            var container = document.createElement('div');
            container.classList.add('report-container'); // Add a class for additional styling if needed
            // Set the HTML content of the new tab to display the table
            container.innerHTML = `
              <div class="report-header">
                <div class="report-logo">
                  <img src="/static/images/de30038bf36a1146441892552da72a4e.jpg" alt="Company Logo">
                  <h2> Rowley Company </h2>
                </div>
              <div class="report-heading">
                <h1>${reportType} Report</h1>
              </div>
            </div>
            <link rel="stylesheet" href="/static/css/reports.css"> 
            ${table}
            `;
            // Add a button to download the report as PDF
            var downloadButton = document.createElement('button');
            downloadButton.textContent = 'Download';
            downloadButton.classList.add('download-button');
            downloadButton.onclick = function() {
                downloadPDF(reportType);
            };
            container.appendChild(downloadButton);
            // Append the container to the body of the new tab
            reportWindow.document.body.appendChild(container);
        })
        .catch(error => console.error('Error fetching report:', error));
}
 function downloadPDF(reportType) {
    // Make a request to download the PDF report
      window.open(`/reports/generate_pdf/${reportType}`, '_blank');
  }
  window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
  }, 5000);
</script>
{% endblock %}