{% extends 'base.html' %}
{% block title %} Agent Dashboard - Rowley Company {% endblock %}
{% block head %}
  {{super()}}
  <link rel="stylesheet" href="/static/css/agentDashboard.css">
  <title> Agent Dashboard - Rowley Company </title>   
{% endblock %}
{% block content %}
<section class="dashboard-section">
  <div id="upper-part">
    <div class="welcome-note">
        <p>Welcome to Rowley Company - Your Trusted Partner in Real Estate Management</p>
        <a  href="{{url_for('main.landingpage')}}"> Rowley Company Overview </a>
    </div>
  </div>
  <div class="middle-part">
    <div class="Reports-part">



    </div>    
    <div class="form-part">                
        <div class="form-card">
            <h2><strong> Profile </strong></h2>
            <p> To manage you account information </p>
            <form action="{{ url_for('main.profile') }}">
                <button type="submit"> Click here </button>
            </form>
        </div>
        <div class="form-card">
            <h2><strong> Booking </strong></h2>
            <p> To secure one of our spaces  </p>
            <form action="{{ url_for('main.booking') }}">
                <button type="submit"> Click here </button>
            </form>
        </div>   
    </div>
  </div>
<section>

{% endblock %}