{% extends 'base.html' %}
{% block title %} Rowley Company - Client Dashboard {% endblock %}
{% block head %}
  {{super()}}
  <link rel="stylesheet" href="/static/css/dashboard.css">
  <title> Rowley Company - Client Dashboard </title>   
{% endblock %}
{% block content %}
    <section class="dashboard-section">
        <div id="upper-part">
            <div class="welcome-note">
                <p>Welcome to Rowley Company - Your Trusted Partner in Real Estate Management</p>
                <a  href="{{url_for('main.landingpage')}}"> Rowley Company Overview </a>
            </div>
            <div class="agent-btn">
                <a href="{{url_for('auth.agentLogin')}}"><button> Login as a Agent</button></a>
           </div>
        </div>
        <div class="middle-part">
            <div class="bookings-part">
                <h2> Your Bookings </h2>
                {% for booking in bookings %}
                <div class="booking-card">
                    <div class="booking-detail">
                        <h3> Property: {{ booking.property_type }} </h3>
                        <p> Booked for: <strong> {{ booking.booking_hours}}  {{ booking.date }} </strong></p>
                    </div>
                    <div class="booking-actions">
                        <button> Modify </button>
                        <button> Delete </button>
                    </div>
                    <div class="booking-actions">
                        <button onclick="location.href='{{ url_for('auth.proceed_to_payment', booking_id=booking.id) }}'"> Proceed to Payment </button>
                    </div>
                </div>
                {% else %}
                <p>No bookings found.</p>
                {% endfor %}
                <!-- Add more booking cards as needed -->
            </div>            
            <div class="form-part">                
                <div class="form-card">
                    <h2> Profile </h2>
                    <p> To manage you account information </p>
                    <form action="{{ url_for('main.profile') }}">
                        <button type="submit"> Click here </button>
                    </form>
                </div>
                <div class="form-card">
                    <h2> Booking </h2>
                    <p> To secure one of our spaces  </p>
                    <form action="{{ url_for('main.booking') }}">
                        <button type="submit"> Click here </button>
                    </form>
                </div>   
            </div>
        </div>
    <section>
                
{% endblock %}