{% extends 'base.html' %}
{% block title %} Rowley Company - Client Dashboard {% endblock %}
{% block head %}
  {{super()}}
  <link rel="stylesheet" href="/static/css/dashboard.css">
  <title> Rowley Company - Client Dashboard </title>   
{% endblock %}
{% block content %}
    <section class="dashboard-section">
        <div id="upper-part">
            <div class="welcome-note">
                <p>Welcome to Rowley Company - Your Trusted Partner in Real Estate Management</p>
                <a  href="{{url_for('main.landingpage')}}"> Rowley Company Overview </a>
            </div>
            <div class="agent-btn">
                <a href="{{url_for('auth.agentLogin')}}"><button> Login as a Agent</button></a>
           </div>
        </div>
        <div class="middle-part">
            <div class="image-part">
                <img src="/static/images/Capture.PNG" alt="House">
            </div>
            <div class="form-part">                
                <div class="form-card">
                    <h2> Profile </h2>
                    <p> To manage you account information </p>
                    <form action="{{ url_for('main.profile') }}">
                        <button type="submit"> Click here </button>
                    </form>
                </div>
                <div class="form-card">
                    <h2> Booking </h2>
                    <p> To secure one of our spaces  </p>
                    <form action="{{ url_for('main.booking') }}">
                        <button type="submit"> Click here </button>
                    </form>
                </div>   
            </div>
        </div>
    <section>
                
{% endblock %}