{% extends 'base.html' %}
{% block title %} Rowley Company - Real Estate Management {% endblock %}
{% block head %}
  {{super()}}
  <link rel="stylesheet" href="/static/css/home.css">
  <title> Rowley Company - Real Estate Management </title>   
{% endblock %}
{% block content %}
    <div class="banner">
        <h2>Goals and Objectives</h2>
        <ul class="goals">
            <li>To be a leading real estate management company.</li>
            <li>To treat every customer as the sole owner of their property.</li>
            <li>To seek continuous growth and development of the company.</li>
            <li>To have a loyal and highly satisfied customer following.</li>
            <li>To continually research and fully meet changing customer needs.</li>
            <li>To invest in staff development through training and good compensation.</li>
            <li>To continually develop new and improve existing services.</li>
        </ul>
    </div>
    <div class="footer">
        <div class="contact-us">
            <p>Contact us:</p>
            <p>Phone: +254783756937</p>
            <p>Email: waiyegondungu@gmail.com</p>
            <p>Location: Pacan Suites opposite Murang'a Creameries</p>
            <p>Postal Address: 68 Kangema</p>
        </div>
        <div class="welcome">
            <h2>Welcome to Rowley Company - Your Trusted Partner in Real Estate Management</h2>
        </div>
    </div>
{% endblock %}
