{% extends 'base.html' %}
{% block title %} Rowley Company {% endblock %}
{% block head %}
  {{super()}}
  <link rel="stylesheet" href="/static/css/landing.css">
  <title> Rowley Company - Signup </title>   
{% endblock %}
{% block content %}
    <section class="main-section">
        <div class="rotation-images">
            <img src="/static/images/townHouse.jpg" alt="Town House">
            <img src="/static/images/singleFamilyHouse.jpg" alt="Single family House">
            <img src="/static/images/IMG-20240217-WA0008.jpg" alt="Image">
            <img src="/static/images/apartment1.jpg" alt="Apartment">
        </div>
        <div class="main-content">
            <h2>FIND YOUR PERFECT HOME TODAY</h2>
            <ul>
                <li>Unlock the potential of your property with Rowley Company.</li>
                <li>A highly interactive customer service.</li>
                <li>Informative search guide to tenants to ease the process of house searching.</li>
                <li>Low booking fee with exclusive services.</li>
            </ul>
        </div>
    </section>
    <div class="footer">
        <div class="contact-us">
            <p>Contact us:</p>
            <p>Phone: +254783756937</p>
            <p>Email: waiyegondungu@gmail.com</p>
            <p>Location: Pacan Suites opposite Murang'a Creameries</p>
            <p>Postal Address: 68 Kangema</p>
        </div>
        <div class="welcome">
            <h2>Welcome to Rowley Company - Your Trusted Partner in Real Estate Management</h2>
        </div>
    </div>
{% endblock %}