{% extends 'base.html' %}
{% block title %} Rowley Company - Signup {% endblock %}
{% block head %}
  {{super()}}
  <link rel="stylesheet" href="/static/css/signup.css">
  <title> Rowley Company - Signup </title>   
{% endblock %}
{% block content %}
<section class="signup-section">
    <div class="signup-container">
        <h2>Sign Up</h2>
        <form class="signup-form" action="/signup" method="POST">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="notification is-danger">
                  {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
              </div>
            {% endif %}
            {% endwith %}
            <input type="text" name="surname" placeholder="Surname" pattern="[A-Za-z]+" required>
            <input type="text" name="first_name" placeholder="First Name" pattern="[A-Za-z]+" required>
            <input type="text" name="second_name" placeholder="Second Name" pattern="[A-Za-z]+" required>
            <input type="tel" name="telephone" placeholder="Telephone Number" pattern="[0-9]{10}" required>
            <input type="email" name="email" placeholder="Email" required>
            <select name="gender" required>
                <option value="" disabled selected>Select Gender</option>
                <option value="male"> Male </option>
                <option value="female"> Female </option>
            </select>
            <select name="role" required>
                <option value="" disabled selected> Sign up as </option>
                <option value="client"> Client </option>
                <option value="agent"> Agent </option>
            </select>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required oninput="validatePassword(this)">
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="footer">
        <div class="contact-us">
            <p>Contact us:</p>
            <p>Phone: +254783756937</p>
            <p>Email: waiyegondungu@gmail.com</p>
            <p>Location: Pacan Suites opposite Murang'a Creameries</p>
            <p>Postal Address: 68 Kangema</p>
        </div>
        <div class="welcome">
            <h2>Welcome to Rowley Company - Your Trusted Partner in Real Estate Management</h2>
        </div>
    </div>
</section>
    <script>
        function validatePassword(input) {
            var password = document.querySelector('input[name="password"]');
            if (input.value !== password.value) {
                input.setCustomValidity('Passwords do not match.');
            } else {
                input.setCustomValidity('');
            }
        }
    </script>
{% endblock %}