
.about {
    background: black url('/static/images/picture2.jpg') center/cover no-repeat;
    color: gold;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.history,
.core-values,
.mission,
.vision {
    margin-bottom: 20px;
}
.core-values ul {
    list-style-type: none;
    padding: 0;
}
.history p,
.mission p,
.vision p {
    color: gold;
}