  .login-container {
    background-color: #E1E9E5;
    /* padding: 20px 80px; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  .login-form {
    padding: 40px;
    background: white;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);   
  }
  .login-form h2{
    text-align: center;
    border-radius: 2px;
    margin-bottom: 20px;
}
.input-field {
  position: relative;
  margin-bottom: 20px;
}
  .input-field input{
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px;    
}
.input-field input:focus{
  outline: none;
  border-color: #007bff;
}
::placeholder{
  color: #666;
  text-align: center;
}
.input-field input[type="email"],
.input-field input[type="password"] {
    color: white; 
    background-color: #333; 
    border: 1px solid #ccc; 
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.forgot{
  text-align: right;
  display: flex;
  justify-content: flex-end;

}
.forgot a{
  text-decoration: none;
  font-size: 14px;
}
.field{
  font-size: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background: transparent;
}
.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
 .login-btn{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-button button{
    width: 100%;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    background-color: gold;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.login-button button:hover{
  background-color: #0056b3;
}
.signup-link {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
  }
.signup-link a{
    text-decoration: none;
    font-size: 14px;
    color: blue;
    font-weight: bold;
}
@media (max-width: 768px) {
  .login-container {
      padding: 20px;
  }
  
  .login-form {
      padding: 30px;
  }
}