@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    background-color: black;
    color: gold;
    padding: 0px 50px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: sticky;
    left:0;
    top: 0;
    box-shadow: 0 10px 15px  rgba(119, 113, 113, 0.788);
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    width: 250px;
}
.logo-img {
    border-radius: 100%;
    overflow: hidden;
}

.logo img {
    height: 50px;
    width: 60px;
    opacity: 0.7;
    
}
.logo span {
    font-size: 17px;
}
.nav {
    display: flex;
    align-items: center;
    
}

.nav a {
    color: gold;
    text-decoration: none;
    padding: 0px 20px;
    position: relative;
    font-size: 18px;
    font-weight: 600;
}
.nav a:hover, 
.nav a.active{
    color:rgba(23, 43, 225, 0.841);
    transition: .5s ease;
}

.alert {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: absolute;
    z-index: 10;
    top: 100px;
    right: 18px;
  }
  .alert-success {
    color: #3c763d;
    background-color: #E1E9E5;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #E1E9E5;
    border-color: #ebccd1;
  }