.signup-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/static/images/townHouse.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}
.signup-container {
    color: #fff;
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.signup-form h2{
    color: black;
    margin-bottom: 20px;
    text-align: center;
}
.signup-form input,
.signup-form select,
.signup-form button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background: #fff;
}
.signup-form button {
    color: #fff;
    background-color: #0056b3;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out; 
}
.signup-form button:hover, 
.signup-form button:hover {
    background-color: #003d82;
}
.signup-form input::placeholder,
.signup-form select {
    color: #666;
    text-align: center;
}

@media (max-width: 768px) {
    .signup-container {
        width: 90%;
        padding: 20px; 
    }
    .signup-form {
        width: 100%; 
    }

}